/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*.unselectable
  -moz-user-select -moz-none
  -khtml-user-select none
  -webkit-user-select none
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select none
  user-select none

.clicks-disabled
  pointer-events none

.cursor-pointer
  cursor pointer

.text-align-center
  text-align center

.mat-table
  width 100%

.mat-sort-header-container
  display flex
  cursor pointer
  align-items center
  justify-content center
